@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:300,400&display=swap');
@import 'variables';


#app {
    font-family: 'Encode Sans Expanded', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: $light-color;
}

body {
    scroll-behavior: smooth;
    background-color: $dark-color;
    overflow-x: hidden;
}
.navigation-bar {
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .9);
    display: flex;
    z-index: 1;
    .navigation-bar-content {
        font-weight: bold;
        padding-left: 20px;
        padding-right: 20px;
        a {
            color: $light-color;
            text-decoration: none;
            &:hover {
                transition: .4s;
                color: $primary-color;
                cursor: pointer;
            }
            &:focus {
                color: $light-color;
                text-decoration: none;
            }
        }
    }
}

.client-contact {
    display: flex;
    justify-content: center;
    padding: 5px 0px;
    background: $dark-color;
    .client-contact-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
        .client-contact-text {
            margin-left: 5px;
            display: block;
        }
    }
}

.client-floating-contact {
    position: fixed;
    left: 0;
    bottom: 40px;
    padding: 15px;
    background-color: $light-color;
    color: #444;
}

.intro-client-brand {
    position: relative;
    float: right;
    top: 270px;
    margin-right: 200px;
    width: 600px;
    text-align: right;
    h1 {
        color: $primary-color;
        font-size: 50px;
    }
    p {
        font-size: 20px;
    }
}

.intro-left {
    position: relative;
    float: left;
    top: 490px;
    margin-left: 200px;
    width: 600px;
    text-align: left;
    h1 {
        color: $primary-color;
        font-size: 50px;
    }
    p {
        font-size: 20px;
    }
}

// Parallax
.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-attachment: fixed;
    background-size: cover;
}
.parallax-intro {
    background-image: url('../parallax-1.jpg');
}
.parallax-1 {
    background-image: url('../parallax-1.jpg');
}
.parallax-2 {
    background-image: url('../parallax-2.jpg');
}
.parallax-3 {
    background-image: url('../parallax-3.jpg');
}
.parallax-4 {
    background-image: url('../parallax-4.jpg');
}
.regular-content {
    height: 100vh;
}

.pushed-content {
    margin-top: 128px;
}


.content-section {
    padding: 40px 0px;
    background-color: $dark-color;
    .content-header {
        font-size: 40px;
        color: $primary-color;
    }
    .content-sub-header {
        font-size: 25px;
        color: $primary-color;
    }
    .content-paragraph {
        margin-top: 15px;
        font-size: 18px;
        text-align: left;
    }
    &.section--slate {
        background-color: #202021;
        color: $light-color;
        .content-header {
            font-size: 40px;
            color: $primary-color;
        }
        .content-paragraph {
            color: $light-color;
        }
    }
    &.section--light {
        background-color: $light-color;
        color: #333333;
        .content-header {
            font-size: 40px;
            color: #333333;
        }
        .content-sub-header {
            color: #333;
        }
        .content-paragraph {
            color: #333333;
        }
    }
}

.hero-title {
    padding-top: 20%;
    h1 {
        font-size: 65px;
        color: $primary-color;
        text-transform: uppercase;
    }
    h2 {
        font-size: 18px;
        width: 60%;
        line-height: 2;
    }
    &.hero-title--left {
        text-align: left;
    }
    &.hero-title--right {
        text-align: right;
        h2 {
            float: right;
        }
    }
}